<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p></p>
<p></p>
<div>
    <div th:each = "user : ${user}">
        <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.setUsername()}">user</a>
    </div>

<!--    <form th:action="@{/users/new}" method="get">-->
<!--        <button type="submit">Создать пользователя</button>-->
<!--    </form>-->
</div>
</body>
</html>


