<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p></p>
<p></p>
<div>
    <div th:each = "user : ${users}">
        <a th:href="@{/admin/{id}(id=${user.id})}" th:text="${user.username}">user</a>
        <br>
    </div>
    <hr/>
<!--    <form th:action="@{/users/new}" method="get">-->
<!--        <button type="submit">Add user</button>-->
<!--    </form>-->
    <a th:href="@{/admin/new}">Add user</a>
    <br>
    <a href="/logout">Exit</a>
</div>
</body>
</html>










