<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en,ru">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${users}">
    <input name="name" th:field="*{username}" id="name" type="text" />
    &nbsp;Username
    <br />
    <input name="surname" th:field="*{email}" id="email" type="text" />
    &nbsp;Email
    <br />
    <input name="surname" th:field="*{password}" id="password" type="text" />
    &nbsp;Password
    <br />
    <select th:field="*{roles}">
        <option th:value="'2'" th:text="Admin"></option>
        <option th:value="'1'" th:text="User"></option>
    </select>
    <input type="submit" value="Add Person" />
</form>

</body>
</html>