<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en,ru">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${users}">
    <input name="name" th:field="*{username}" id="name" type="text" />
    <div style="color: #ff0000" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
    &nbsp;Username
    <br />
    <input name="email" th:field="*{email}" id="email" type="text" />
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Username Error</div>
    &nbsp;Email
    <br />
    <input name="password" th:field="*{password}" id="password" type="text" />
    &nbsp;Password
    <br />
    <select id="roleNames" name="roleNames" multiple>
        <option th:each="role : ${roles}"
                th:text="${role.authority}"
                th:value="${role.id}"></option>
    </select>
    <input type="submit" value="Add Person" />
</form>

</body>
</html>