<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<ul>
    <th:block th:each="user : ${users}">
        <li>id: <span th:text="${users.id}">ID</span></li>
        <li>Username: <span th:text="${users.username}">Username</span></li>
        <li>EMail: <span th:text="${users.email}">EMail</span></li>
        <li>Role: <span th:text="${users.roles}">Role</span></li>
        </br>
        </form>
    </th:block>
</ul>
<form th:method="DELETE" th:action="@{{id}(id=${users.getId})}">
    <button type="submit">Delete User</button>
</form>
<a th:href="@{{id}/edit(id=${users.id})}">Edit User</a>
</br>
<a href="#" onclick="history.back();return false;" class="history-back">Вернуться назад</a>
</br>
<a href="/logout">Exit</a>
</body>
</html>

<!--<form th:method="DELETE" th:action="@{{id}(id=${users.getId})}">-->
<!--    <a th:href="@{{id}(id=${users.getId})}">Delete User</a>-->
<!--</form>-->


