<!DOCTYPE html>
<html lang="en,ru"  xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<p th:text="${user.getUsername()}"p></p>
<p th:text="${user.getEmail()}"p></p>
<p th:text="${user.getId()}"p></p>
    <a href="/logout">exit</a>
</form>
</body>
</html>



<!--<a th:href ="@{/user/{id}/edit(id=${user.getId()})}">Edit</a>-->
<!--<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">-->
<!--    <input type="submit" value="Delete"/>-->