<!DOCTYPE html>
<html lang="en,ru"  xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<th:block th:each="user : ${users}">
    <ul>
        <li>id: <span th:text="*{users.getId()}">ID</span></li>
        <li>Username: <span th:text="*{users.getUsername()}">Username</span></li>
        <li>EMail: <span th:text="*{users.getEmail()}">EMail</span></li>
        <li>Role: <span th:text="*{users.getRoles()}">Role</span></li>
        </form>
        <a href="/logout">Exit</a>
    </ul>
</th:block>
</form>
</body>
</html>
e"/>-->