<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ADMIN all users</title>
</head>
<body class="bg-light" style="height: 100vh;">
<header>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-6 text-white">
                <h4>
                    <h4 th:text="${users.email + ' with roles ' + users.getAuthorities()}"></h4>
                </h4>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <form th:method="POST" th:action="@{/logout}" class="ml-auto">
                    <button type="submit" class="btn btn-link text-white-50 content-button">Logout</button>
                </form>
            </div>
        </div>
    </div>
</header>
<section class="container-fluid h-100">
    <div class="row h-100 d-flex align-items-start">
        <div class="col-2 d-flex flex-column p-0 h-100 bg-white ">
            <input th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                   type="button"
                   value="Admin"
                   onclick="window.location.href='/admin'"
                   class="btn btn-link bg-white text-primary aria-selected=false"
                   style="text-align: start;"/>
            <input type="button" value="User" onclick="window.location.href = '/user'"
                   class="btn btn-link bg-primary mt-2 text-white aria-selected=true" style="text-align: start;"/>
        </div>
        <div class="col-10 bg-light d-flex flex-column ">
            <div style="width: 90%; margin: auto;">
                <h1>User information-page</h1>
                <div class="border border-end bg-white">
                    <h2 class="border p-3 m-0 bg-light">About user</h2>
                    <div class="tab-content bg-white m-auto" id="pills-tabContent" style="width: 95%;">
                        <table class="table table-borderless mt-3 mb-5">
                            <thead class="border border-left-0 border-right-0" >
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-secondary" th:object="${users}">
                                <td th:text="${users.id}"></td>
                                <td th:text="${users.username}"></td>
                                <td th:text="${users.email}"></td>
                                <td th:text="${users.roles}"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{js/user.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>